@viewport {
  width: device-width;
  zoom: 1.1;
  min-zoom: 0.4;
  max-zoom: 2;
  user-zoom: fixed;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #f5f5f5;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

input {
  width: 300px;
  border-radius: 5px;
  height: 2rem;
  padding-left: 2rem;
  text-align: start;
  display: flex;
}
/* 
::placeholder {
  color: deeppink;
  font-size: 5rem;
  text-transform: uppercase;
} */
table {
  display: table;
  margin: 0 auto;
  background-color: #fff;
}
th {
  text-transform: capitalize;
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  pointer-events: none; /* Make sure the icon doesn't interfere with input focus */
}
